[Unit]
Description=titan webapp
StopWhenUnneeded=yes
Requires=postgresql redis
After=network.target postgresql redis

[Service]
Type=forking
PermissionsStartOnly=true
PIDFile=/run/titan/webapp.pid
RuntimeDirectory=titan
User=titan
Group=titan
ExecStartPre=/etc/wait-pre-start.sh
ExecStartPre=/bin/bash -c 'mkdir /var/log/titan 2>/dev/null || true'
ExecStartPre=/bin/bash -c 'chown --no-dereference -R titan:titan /var/log/titan'
ExecStart=/bin/bash /opt/titan/init_web.sh
ExecStop=/bin/bash /opt/titan/init_web.sh stop $MAINPID
ExecStopPost=/bin/rm -rf /var/run/titan/webapp.pid
Restart=always
StartLimitInterval = 60
StartLimitBurst = 10

[Install]
WantedBy=multi-user.target